body {
    background-color:#0D0E0C;
    font-family:"OpenSans-Lightitalic";
    font-weight:italic;
    color: #ECE9D0;
    margin:0px;
}

@font-face {
    src: url("fonts/Beth-Ellen-2.0.woff");
    font-family:"Beth-Ellen-2.0.woff";
 }

 @font-face {
    font-family:"IslandMoments-Regular.woff" ;
    src: url("fonts/IslandMoments-Regular.woff");
 }

@font-face {
    font-family:"OpenSans-Lightitalic.woff";
    src: url("fonts/OpenSans-LightItalic.woff");
} 

/* Typography */

div.largetext {
  font-size: 175px;  
  line-height: 130px;
  position:absolute;
  top: 44%;
  left: 35%;
  transform: translate(-60%, -60%);
  text-align: left;
}

div.mediumtext {
    font-size: 50px;
    line-height:50px;
    position: relative;
    top: 60px;
}

div.smalltext {
    font-size:18px;
    line-height:20px;
}
 

div.artistfont {
    font-family:"Beth-Ellen-2.0.woff";
}
   
div.momentfont {
    font-family:"IslandMoments-Regular"!important;
}


/* hero */

div.banner {
    padding-top: 0px;
    text-align: center;
    height: 100vh;
    background-image: url("images/macbookhome.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    color: #ECE9D0;
}

.home {
    position: absolute;
    top: 10px;
    left: 20px; 
    font-family: "IslandMoments-Regular";
    font-size: 32px;
    color: #ECE9D0;
}

.menu-icon {
    position:absolute;
    top: 10px;
    right: 20px; 
    font-size: 30px;
    color: #ECE9D0;
}

/*intro */

div.title1 {
    font-family: "OpenSans-Lightitalic";
    font-style: italic;
    font-weight: 100;
    font-size: 72px; 
    text-align:left; 
    line-height: 80px;
    margin-left: 40px;
    width: fit-content;
    margin-top: 50px; 
    margin-bottom: 17px; 
    padding-bottom: 10px; 
    position: relative;
}

.title1::after {
   content: ""; 
   position: absolute;
   left: 6px;
   right: 10px;
   bottom: 0;
   width: calc(100vw - 115px);
   height: 2px;
   background-color: #ECE9D0 ;
}
  
  div.name {
      color: #FFFFFF;
      font-family: "Beth-Ellen-2.0.woff";
      font-size: 40px;
      font-weight: 400;
      right: 0;
      letter-spacing: 8px;
      line-height: 78px;
      position: absolute;
      top: 880px;
      white-space: nowrap;
      transform: translateX(-50px); 
  }
  
/* 父容器样式 */
.content-container {
  display: flex; /* 如果使用了 flex 布局 */
  align-items: flex-start;
  justify-content: space-between;
  position: relative; /* 允许子元素使用绝对定位 */
}


.left-column {    
  font-family: "OpenSans-Lightitalic";
  font-style: italic;
  font: weight 16px; ;
  font-size: 14px; 
  text-align:left; 
  line-height: 20px;
  margin-left: 40px;
  width:22.22%;
  margin-bottom: 17px; 
  padding-bottom: 10px; 
  margin-top: 50px; 
  margin-bottom: 17px; 
  padding-bottom: 10px; 
  position: relative;
}




.center-image {
  position:relative;
  top: 550%;
  left: 50%;
  transform: translate(-50%, -205%); /* 将图片移动到真正的中央 */
  width: 100%;
  max-width: 500px;
}
  


/* 图片下方文字 */
.caption {
  position:relative;
  top: 550%;
  left: 50%;
  transform: translate(-50%, -225%); /* 将图片移动到真正的中央 */
  width: 100%;
  max-width: 500px;
  font-size: 14px; 
  line-height: 1.6;
  font-family: "OpenSans-Lightitalic";
  font-style: italic;
  color: #F7B5BD; /* 根据需要调整颜色 */
}


.content-container {
  display: flex;
  justify-content: center; /* 保证内容在容器中居中 */
  position: relative;
}

.right-column {
  font-family: "OpenSans-Lightitalic";
  font-style: italic;
  width: 22.22%;
  height: 703px;
  position: absolute;
  top: 1000px; /* 可以根据需要调整 */
  left: 1137px; /* 调整右侧列的水平位置 */
  font-size: 14px;
  line-height: 1.6;
  text-align: right;
}


  
  